/*
Mobile stylesheet
*/

@media screen and (max-width: 1100px) {
    div#wrapper {
        width: 90%;
        margin: 0 auto;
    }
    div#content {
        float: none;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    div#menu {
        float: none;
        margin: 0 auto;
    }
    div#menu ul.sub a {
        display: inline-block;
    }
    div#footer .overlap {
        width: calc(100% + 60px);
    }
    div#footer {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 900px) {
    div#header h1 a {
        font-size: 2.6vw;
    }
}

@media screen and (max-width: 700px) {
    div#wrapper {
        margin: 0;
        width: 100%;
    }
    div#header h1 a {
        font-size: 2.7vw;
        background-size: 100px;
        padding-left: 180px;
    }
    div#footer .section {
        float: none;
        width: 100%;
    }
    div#menu {
        width: 100%;
    }
    div#menu .border {
        width: 100%;
    }

    div#menu button {
        border-radius: 0px;
    }
    
    div#menu .overlap {
        width: calc(100% - 20px);
    }
}