#!/bin/bash
# This file contains environment variables used in Docker build process and the application itself.

# Postgres configuration (Postgres is not implemented yet)

# Postgres user
# export POSTGRES_USER=postgres
# Postgres password
# export POSTGRES_PASSWORD=postgres
# Postgres database
# export POSTGRES_DB=postgres
# Postgres port
# export PORT=8000

# Debug (Django) MUST BE SET TO FALSE IF IN PRODUCTION!
DEBUG=False

# Secret key (Django) MUST BE CHANGED IF IN PRODUCTION!
SECRET_KEY=abcdefgh12345678

# Site name
SITE_NAME="TKO-äly ry"

# Site URL
SITE_URL="http://localhost:8000"

# Port
PORT=8001
