[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "==1.10.8"
django-braces = "==1.8.1"
django-cors-headers = "==1.1.0"
django-markup = "==1.0"
django-oauth-toolkit = "==0.10.0"
easy-thumbnails = "==2.3"
oauthlib = "==1.0.3"
Pillow = "==3.3.2"
requests = "==2.9.1"
six = "==1.10.0"
textile = "==2.2.2"
"psycopg2-binary" = "==2.7.4"


[dev-packages]



[requires]

python_version = "3.6"
