<!doctype html>

{% load i18n %}
{% load flatpage_tags %}

{% block header %}{% endblock %}
<title>TKO-äly ry</title>

{% block menu %}
<div id="menu">
  <ul>
    <li><a href="{% mainpage_link_for_category 1 %}">{% trans "Association" %}</a>
      <ul>
	<li><a href="{% url "board" %}">{% trans "Board" %}</a></li>
	{% menu_for_category 1 %}
      </ul>
    </li>
    <li><a href="{% mainpage_link_for_category 2 %}">{% trans "Activities" %}</a>
      <ul>
	{% menu_for_category 2 %}
      </ul>
    </li>
    {% menu_for_category 0 %}
  </ul>
</div>
{% endblock %}
<div id="language_select">

  <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
        {{ language.name_local }} ({{ language.code }})
      </option>
      {% endfor %}
    </select>
    <input type="submit" value="Go" />
  </form>
</div>

<div id="content">
  <a href="/">
    <h1>TKO-äly ry</h1>
  </a>
  {% block content %}{% endblock %}
</div>

<hr>
<div id="sponsor">
  <h3>{% trans "Sponsors" %}</h3>

  {% show_sponsors %}
</div>

<hr>
{% block footer %}
<div id="footer">
<div class="section">
<h3>{% trans "Mail" %}</h3>
TKO-äly ry / TKTL<br>
PL 68<br>
00014 Helsingin yliopisto
<h3>{% trans "Company ID (Y-tunnus)" %}</h3>
1978827-2<br>
</div>
<div class="section">
<h3>{% trans "E-mail" %}</h3>
hallitus (ät) tko-aly.fi
<h3>{% trans "Chairman" %}</h3>
pj ät tko-aly.fi
</div>
<div class="section">
<h3>{% trans "Phone to student room Gurula" %}</h3>
+358-50-4480186
<h3>{% trans "Bank Accounts" %}</h3>
Päätili FI75 6601 0003 4225 16<br>
Ruokavälitys FI09 6601 0003 4225 40
</div>
</div>
{% endblock %}
