#tekishero, #footer {
    background: black;
    color: white;
}
#tekishero img {
    margin: 20px;
}

#sponsor-bag {
    background: white;
    border-radius: 5px;
    padding: 5px;
}

#footer {
    margin-top: 2em;
    padding-bottom: 3em;
    border-top: 10px solid #fc3;
}

.always-dark {
    background: #222;
}